@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h1>ADAPAZARI ÜNİVERSİTESİ</h1>
    <p class="lead">ADAPAZARI ÜNİVERSİTESİ SAPANCA GÖLÜ MANZARASI VE EŞSİZ KAMPÜSÜYLE HİZMETİNİZDE.</p>
   @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GÜZEL KAMPÜS</h2>
        <p>Güzel kampüs</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>ULUSLARARASI EĞİTİM</h2>
        <p>Uluslararası Eğitim</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>KALİTELİ EĞİTİM</h2>
        <p>Kaliteli Eğitim</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>