
@{
    Layout = null;
}

<div class="main-slideshow">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="/Content/images/slide1.jpg" />
                <div class="slider-caption">
                    <h2><a href="blog-single.html">When a Doctor’s Visit Is a Guilt Trip</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
            </li>
            <li>
                <img src="/Content/images/slide2.jpg" />
                <div class="slider-caption">
                    <h2><a href="blog-single.html">Unlocking the scrolls of Herculaneum</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
            </li>
            <li>
                <img src="/Content/images/slide3.jpg" />
                <div class="slider-caption">
                    <h2><a href="blog-single.html">Corin Sworn wins Max Mara Art Prize</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
            </li>
        </ul> <!-- /.slides -->
    </div> <!-- /.flexslider -->
</div> <!-- /.main-slideshow -->
